<!-- Service Start -->
<section id="band">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.band.title }}</h2>
        <p>{{ .Site.Data.band.subtitle }}</p>
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      {{ range .Site.Data.band.content }}
      <div class="col-sm-6 col-md-4">
        <div class="band-item">
          <a href="{{ .url }}">
          <img src="{{ $.Site.BaseURL }}{{ .image }}" alt="">
          </a>
          <h4>{{ .name }}</h4>
          <p>{{ .text }}</p>          
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
